*{
  margin:auto;
  padding: auto;
}
body {
  background-image: url("images/effet-metal.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}


/* Header */
header {
  background-color: #0a376f;
  padding-top: 10px;
  text-align:center;
  color: #fff;
}
h1 {
  text-align: center;
  padding-bottom: 30px;
  font-size: 50px;
  font-family: 'Courgette', cursive;
  /*font-family: 'Pacifico', cursive;*/
}

/* Taux de change */
.change {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align:center;
}

#box {
  text-align: center;
  width:400px;
  height:250px;
  border:2px solid black;
  border-radius: 10px;
  background-color: #c8ba9b;
  box-shadow: 3px 3px 2px #8d8b8f;
}
h2 {
  font-size: 45px;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  color: #000;
  letter-spacing: 1px;
}
table {
  margin:50px auto;
}
h3 {
  font-family: sans-serif;
  font-size: 20px;
}


/* Compteur de mots */
#box2 {
  text-align: center;
  border:2px solid black;
  border-radius: 10px;
  background-color: #86c6c6;
  box-shadow: 3px 3px 2px #8d8b8f;
  margin-bottom: 75px;
  margin-left: 180px;
}
p {
  font-size: 20px;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  padding-top: 40px
}
#box2 input {
  margin-top: 15px;
  width: 50%;
}
#output{
  margin: 30px auto;
  width: 200px;
  background: lightgreen;
}
#btn {
  color: #fff;
  background-color: #545454;
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: 'Indie Flower', cursive;
}


/* Horloge digitale */
#clock {
  color: #fff;
  font-size: 100px;
  width: 60%;
  margin: 20px auto;
  margin-bottom: 75px;
  background-color: #000;
  font-family: Helvetica;
  text-align: center;
}


/* Calculatrice */

.calculator h2 {
  font-size: 45px;
  text-align:center;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  color: #000;
  padding-top: 25px;
}
#boxCalculator {
  text-align: center;
  border:2px solid black;
  border-radius: 10px;
  background-color: #003b88;
  padding:15px 15px;
  margin-bottom: 120px;
  position: relative;
  box-shadow: 3px 3px 2px #8d8b8f;
}
.calculator input{
  width: 90px;
  height: 70px;
  font-size: 50px;
  border-radius: 10px;
  margin: 10px;
  background-color: #000;
  color: #fff;
}


/* Formulaire de Contact */
#cf {
  padding: 15px 15px;
  background: #000;
  border-radius: 15px;
  box-shadow: 3px 3px 2px #8d8b8f;
  margin-bottom: 120px;

}
.contact h3 {
  padding-bottom: 17px;
  font-size: 29px;
  text-align: center;
  color: #fff;
}
.contact input[type="text"],
.contact input[type="email"],
.contact textarea{
  border: none;
  font-size: 18px;
  height: auto;
  margin: 0;
  padding: 0;
  outline: 0;
  width: 100%;
  background-color: #e8eeef;
  color: #000;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 20px;
}

.contact button {
  padding: 10px 10px;
  color: #fff;
  background-color: #B23535;
  font-size: 22px;
  text-align: center;
  font-style: normal;
  border-radius: 15px;
  margin-left: 40px;
  width: 150px;
  border: 1px solid #a30000;
  border-width: 1px 1px 3px;
  border-style: none;
}
fieldset {
  margin: 10px 10px;
  border: none;
}
label{
  display: block;
  margin-bottom: 8px;
  color: #08a3d9;
  font-weight: bold;
}
#clear {
  padding: 10px 10px;
  color: #000;
  background-color: yellow;
  font-size: 20px;
  text-align: center;
  font-style: normal;
  border-radius: 15px;
  margin-left: 40px;
  margin-right: 20px;
  width: 150px;
  border: 1px solid #a30000;
  border-width: 1px 1px 3px;
  border-style: none;
}


/* Slider */
#btnl {
  padding: 10px;
  border-radius: 30px;
  background-color:#41b41f;
  color: #000;
}
#btnr {
  padding: 10px;
  border-radius: 30px;
  background-color: #41b41f;
  color: #000;
}
img{
  height: 650px;
  margin-top: -20px;
  margin-bottom: 120px;
}

.wrapper {
  margin:0 auto;
  box-shadow: 3px 3px 2px #8d8b8f;
}


/* Calcul mental*/
.truc {
  display: inline-block;
  width: 100%;
  margin-bottom: 50px;
  margin-left: -80px
}
#wrapper {
  width: 60%;
  height: auto;
  border:2px solid black;
  border-radius: 10px;
  background-color: rgb(0, 123, 170);
  box-shadow: 3px 3px 2px #8d8b8f;
  text-align: center;
}

.groupe {
  margin-left: 50px;
  margin-right: 50px;
  text-align: "center"
}
#number1 {
  font-size: 45px;
  font-weight: bold;
  border: 2px solid #d0c536;
  padding: 40px;
  border-radius: 90px;
  background-color: rgb(252, 252, 252, 0.3);
  margin-right: 10px;
  color: #000;
}
#number2 {
  font-size: 45px;
  font-weight: bold;
  border: 2px solid #a800cc;
  padding: 40px;
  border-radius: 170px;
  background-color: rgba(252, 252, 252, 0.3);
  margin-right: 10px;
  margin-left: 10px;
  color: #000;
}
.td {
  height: 10px
  color: #000;
}
#answer{
  margin-right: 10px;
  margin-left: 10px;
}
#btn5 {
  background-color: #0d1259;
  color: #fff;
  padding: 12px;
  border-style: none;
  font-weight: bold;
  width: 100px;
}

/* TodoList */
#add {
  background-color: #388340;
  color: #fff;
  padding: 10px 10px;
  margin-left: 10px;
  cursor: pointer;
  margin-top: 15px;
  text-align: center;
}
.remove {

  background-color: #f2a905;
  float: right;
  clear: both;
  padding: auto auto;
  border-radius: 5px;
}
.todolist {
  width:530px;
  background-color: #0b993c;
  padding: 10px 50px 30px 50px;
  border-radius: 25px;
  border:2px solid black;
  box-shadow: 3px 3px 2px #8d8b8f;
  text-align: center;
  margin-bottom: 50px
}
ul {
  list-style: none;
  text-align: left;
  line-height: 35px;
}
#task {
  width:300px;
  height: 30px;
  margin-top: 30px;
}

li {
  padding-top: 30px;
  color: #000;
  font-size: 22px;
  margin-left: -15px;
}
li button {
  color: #000;
  font-size: 15px
}
